
/* ========== Le fond ========== */
main > section {
    margin: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* ========== Le texte ========== */
    @font-face {
        font-family: "MonumentExtended-Regular";
        src: local("../assets/font/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf");
        format("woff");
    }
    @font-face {
        font-family: "DXRigraf-SemiBold";
        src: local("../assets/font/DX-Rigraf-Free/DXRigraf-SemiBold.otf");
        format("woff");
    }
    @font-face {
        font-family: "DXRigraf-Regular";
        src: local("../assets/font/DX-Rigraf-Free/DXRigraf-Regular.otf");
        format("woff");
    }
    /*Les balises H */
    h1#Nike {
        font-family: MonumentExtended-Regular, sans-serif;
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        color: #8F8F8F;
        margin: 20px;
    }
    h2#Dunk {
        font-family: MonumentExtended-Regular, sans-serif;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        color: #1F1F1F;
        margin: 20px;
    }
    div#taille > h3 {
        font-family: MonumentExtended-Regular, sans-serif;
        font-size: 18px;
        font-weight: 200;
        font-style: normal;
        line-height: 100%;
        color: #8F8F8F;
    }
    div#Ajouter > h3 {
        font-family: MonumentExtended-Regular, sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        color: #FFFFFF;
    }
    h4#euro {
        font-family: MonumentExtended-Regular, sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        margin: 20px;
    }
    h4#taille {
        font-family: MonumentExtended-Regular, sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 100%;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    h5 {
        font-family: DXRigraf-SemiBold, sans-serif;
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
    }
    h6 {
        font-family: DXRigraf-SemiBold, sans-serif;
        font-size: 21px;
        font-weight: 600;
        font-style: normal;
        line-height: 120%;
    }
    p {
        font-family: DXRigraf-Regular, sans-serif;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        line-height: 120%;
    }
    /*Ligne orange*/
    main > section > div > hr {
        border: 2px solid #FFBF37;
        width: 60%;
        height: auto;
        margin: 20px;
    }

/* ========== Côté gauche (les images) ========== */
    /*Grande image*/
    div#photo_sneakers1 {
        display: grid;
        grid-template-rows: 4fr 1fr;
        justify-content: center;
        padding: 40px;
        justify-items: stretch;
        align-items: center;
    }
    img#photo_1 {
        height: auto;
        width: auto;
    }
    /*Petites image*/
    div#photo_sneakers2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    }
    img#photo_2 {
        height: 131px;
        width: 214px;
    }
    img#photo_3 {
        height: 131px;
        width: 214px;
    }
    img#photo_4 {
        height: 131px;
        width: 214px;
    }
/* ========== Les tailles ========== */
    /*Les carrés*/
    div#taille {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }
    div#taille > h3 {
        padding: 2.5%;
        border-width: 1px;
        border-style: solid;
        border-color: #8F8F8F;
    }
    h3#barre {
        text-decoration: line-through;
    }
    /*Ajouter au panier*/
    div#Ajouter {
        width: 85%;
        display: grid;
        grid-template-rows: 1fr;
        justify-content: space-around;
        padding: 20px;
        background-color: #101EF1;
        color: #101EF1;
        margin-left: auto;
        margin-right: auto;
    }